{% extends "layout.html" %}

{% block content %}
  
  	{% if showForm %}
		<form class="submitPost" action="/submit" method="POST">
			<label for="name_field">Name:</label>
			<input name="name" value= "{{name}}" type="text" id="name_field" />
			<label for="text_field">Text:</label>
			<input name="text" type="text" id="text_field" style="width: 350px;" />
			<input type="submit" value="Submit" />
		</form>
	{% endif %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Donner!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Donner Grorne</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="imgs">
        	<img src = "https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg">
        </div>
        <div class="info">
        	<b><a href="/users/{{tweet.name}}">{{tweet.name}}</a></b><br>
        	<p>{{tweet.text}}</p>
        	<a href="#">Re-tweet</a><br>
        </div>

      {% endfor %}


      
    </div>
  </div>

	

    
{% endblock %}